.brief {
  font-family: 'Times New Roman';
  line-height: 1.5rem;
  max-width: 40rem;
  width: 50%;
}

.evidence {
  padding-bottom: 1.25rem;
}
  
.tag {
  font-weight: bold;
}
  
.subtag {
  font-size: .85rem;
}
  
.citation {
  font-style: italic;
  font-size: .85rem;
}
  
.quote {
  margin: 0;
  padding: 0;
}
  
/* .quote::before {
  content: '\201C';
}
  
.quote::after {
  content: '\201D';
} */

.block {
  border: .125rem solid transparent;
  margin: 0 -1rem;
  padding: 0 1rem;
}

.block.selected {
  outline: .125rem solid #EEE;
  /* background: #F8F8F8; */
}