/* TODO: https://markentier.tech/posts/2021/03/responsive-toc-leader-lines-with-css/ */

.toc-list {
    margin: 0;
    padding: 0;
}

.toc-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.25rem 0;
    text-decoration: none;
    color: black;
}

.toc-item:hover {
    text-decoration: underline;
    color: blue;
}

.toc-item:last-child {
    padding-bottom: 1rem;
}

.level-1 {
    font-weight: bold;
}

.level-2 {
    padding-left: 1rem;
}

.level-3 {
    padding-left: 2rem;
}

.level-4 {
    padding-left: 3rem;
}

.level-5 {
    padding-left: 3rem;
}

.level-6 {
    padding-left: 3rem;
}